html {
  /* Farver */
  --primary: #c44c97;
  --secondary: #0a8fc1;
  --teritary: #8c60f4;
  --primary-accent: #01b3b8;
  --secondary-accent: #f13c52;
  --text-color: #f4f4f4;
  --background-color: #00031c;
  --background-color-50: rgba(0, 3, 28, 0.5);
  --background-color-15: rgba(0, 3, 28, 0.015);
  --primary-40: rgba(196, 76, 151, 0.4);
  /* Størrelse */
  --mobile-L: 1rem;

  --desktop-L: 5rem;
}

body {
  background-color: var(--background-color);
}

/* Fonts */
.display {
  font-family: "nobel", sans-serif;
  font-weight: 900;
  font-size: 8rem;
  color: var(--text-color);
}

h1 {
  font-family: "nobel-condensed", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 4rem;
  color: var(--text-color);
}

h2 {
  font-family: "nobel-condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: var(--text-color);
}
.bodytext-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: var(--text-color);
}

.bodytext-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--text-color);
}
main {
  margin-left: var(--mobile-L);
  margin-right: var(--mobile-L);
}

/* Desktop */
@media (min-width: 900px) {
  main {
    margin-left: var(--desktop-L);
    margin-right: var(--desktop-L);
  }
}
