---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayouts.astro";
import Background from "../layouts/Backgroundindex.astro"
import Kort from "../components/Kort.astro";
import Buttons from "../components/Buttons.astro";
import PopUp from "../components/PopUp.astro";
import Footer from "../components/Footer.astro";

---

<MainLayout>
    <Background />
    <article id="introduktion">
    <div class="grid_1fr-1fr">
       <div>
         <h1>COPENHAGEN <br> LIGHT FESTIVAL </h1>
         <h3>2.- 25. FEBRUAR</h3>
       </div>
       <div class="index_textbox">
         <div>
            <p class="bodytext-regular">
                Copenhagen Light Festival er en årligt tilbagevendende festival for lys, 
                der transformerer det stille og kolde vintermørke til en særlig fejring af 
                lysende oplevelser midt i København.</p>
            <a class="hyperlink" href="/">Læs mere om os her</a>
         </div>
        </div>
    </div>
    </article>

    <article id="cirkler">
        <a class="vaerker cirkel" href="/vaerker">
            <div><h2>VÆRKER</h2></div>
        </a>
        <a class="events cirkel" href="/">
            <div><h2>EVENTS</h2></div>
        </a>
        <a class="kort cirkel" href="/map">
            <div><h2>KORT</h2></div>
        </a>
    </article>

    <Kort />

    <div class="knap">
    <Buttons class="knap" variant="primary" state="" animation="">Se kort over festivalen</Button>
    </div>

   <article id="fotokonkurrence">
    <div class="container">
        <div class="image-stack">
          <div class="image-stack__item image-stack__item--bottom">
            <img src="/collage/v3.avif" alt="">
          </div>
          <div class="image-stack__item image-stack__item--top">
            <img src="/collage/v4.avif" alt="">
          </div>
          <div class="image-stack__item image-stack__item--3 v1" >
            <img src="/collage/v1.avif" alt="">
          </div>
          <div class="image-stack__item image-stack__item--mid">
            <img src="/collage/v2.avif" alt="">
          </div>
        </div>
        <div class="text">
            <h2>FOTOKONKURRENCE</h2>
            <p class="bodytext-regular">
                Igen i år inviterer vi lysfestivalens gæster, 
                 til at dele billeder af jeres yndlings lysværker og stemningsbilleder
                 fra jeres ture rundt i byen.
            </p> 
            <a class="hyperlink" href="/">Læs mere om fotokonkurrencen her</a>
        </div>
      </div>
      

    <!-- <div class="container">
        <div class="collage">
            <img class="v1" src="/collage/v1.avif" alt="installation">
            <img class="v2" src="/collage/v2.avif" alt="installation">
            <img class="v3" src="/collage/v3.avif" alt="installation">
            <img class="v4" src="/collage/v4.avif" alt="installation">
        </div>
        <div>
            <h2>FOTOKONKURRENCE</h2>
            <p class="bodytext-regular">
                Igen i år inviterer vi lysfestivalens gæster, 
                 til at dele billeder af jeres yndlings lysværker og stemningsbilleder
                 fra jeres ture rundt i byen.
            </p> 
        </div>
    </div> -->
   </article>
</MainLayout>

<style>

/*------ CIRKLER MED NAVIGATION -------*/
     #cirkler{
        padding-top: 2rem;
        padding-bottom: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    #cirkler a{
        text-decoration: none;
    }
    .vaerker div, .events div, .kort div{
        display: flex;
        align-self: center;
    }
    .cirkel{
        border: 1px solid var(--text-color);
        border-radius: 100%;
        aspect-ratio: 430/430;
        width: 85%;
        transition: 0.2s ease-in;
    }
    .vaerker {
        display: flex;
        justify-content: center;
        background-image: url(/circlebuttons/circle_vaerker_default.webp);
        background-size: cover;
    }
    .vaerker:hover {
        box-shadow: 0px 0px 4rem var(--secondary);
        transition: 0.2s ease-in;
    }
    .events{
        display: flex;
        justify-content: center;
        background-image: url(/circlebuttons/circle_events_default.webp);
        background-size: cover;
    }

    .events:hover {
        box-shadow: 0px 0px 4rem var(--secondary-accent);
        transition: 0.2s ease-in;
    }
    .kort{
        display: flex;
        justify-content: center;
        background-image: url(/circlebuttons/circle_map_default.webp);
        background-size: cover;
    }
    .kort:hover {
        box-shadow: 0px 0px 4rem var(--teritary);
        transition: 0.2s ease-in;
    }

/*------ MAP ARTICLE -------*/
    .knap{
       display: flex;
       justify-content: center;
       padding-top: 1rem;
       padding-bottom: 3.5rem;
    }

/*------ COLLAGE FOTOKONK -------*/
.v1{
    display: none;
}
#fotokonkurrence{
    background-image: url("/backgroundimg/backgroundcircles.avif");
background-size: cover;
padding-bottom: 3rem;
}
.container {
  width: 100%;
  margin: 0 auto;

}
.image-stack {
  display: grid;
  position: relative; 
  grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
  grid-column: 5 / -1;
  grid-row: 1;
}
.image-stack__item--mid {
  grid-row: 1;
  grid-column: 7 / -1;
  padding-top: 100%; 
}
.image-stack__item--top {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 20%; 
}

img {
  width: 100%;
  display: block;
}
/*------ DESKTOP VERSION -------*/

 @media (min-width: 900px) {
    /*------ INTRODUKTION ARTICLE -------*/
        .grid_1fr-1fr{
            padding-top: 1rem;
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 80%;
        margin: auto;
    }
    .grid_1fr-1fr h1, .grid_1fr-1fr h3{
        text-align: right;
    }
    .index_textbox{
        display: grid;
      align-items: center;
    }
    /*------ CIRKLER MED NAVIGATION -------*/
    #cirkler{
        display: flex;
        flex-wrap: nowrap;
    }

    .v1{
        display: block;
    }
    .image-stack__item--bottom {
  grid-column: 5/ 10;
  grid-row: 1;
  order: 1;
}
.image-stack__item--mid {
  grid-row: 1;
  grid-column: 3 / span 3;
  order: 2;
}
.image-stack__item--top {
  grid-row: 1;
  grid-column: 9 / span 4;
  padding-top: 20%; 
  order: 2;
}
.image-stack__item--3{
    grid-row: 1;
  grid-column: 1 / span 3;

}
#fotokonkurrence .text{
    max-width: 50%;
}
    }


</style>