---
import "../styles/global.css";
import Kort from "../components/Kort.astro";
import Slider from "../components/Slider.astro";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/MainLayouts.astro";
import Dropdown from "../components/Dropdown.astro";
import Buttons from "../components/Buttons.astro";
import Bydele from "../components/Bydele.astro";
---

<MainLayout>
    <h1>FESTIVAL MAP</h1>
    <Bydele />
        

    <h2>RUTER</h2>
    <div id="grid_3">
        <Dropdown dropdownname="Cykel ruter" /> 
        <Dropdown dropdownname="Gå ruter" /> 
        <Dropdown dropdownname="Bus ruter" /> 
    </div>

    
    
    
    <Kort />
    <Slider />


    <Footer />
</MainLayout>

<style>


    #grid_3{
        display: grid;
            grid-template-columns: 1fr 1fr 1fr ; 
            gap: 1rem;
    }

    h1{
        text-align: center;
    }
</style>
