---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayouts.astro";
import Card from "../components/Card.astro";
---

<MainLayout>
    <div class="multiview_galleri">
	<Card titel="01. Du som er i Himlene!">
        <img src ="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/01.-Du-som-er-i-Himlene-scaled.jpg" alt="">
    </Card>
    <Card titel="02. GAIA">
        <img src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/02.-GAIA-scaled.jpg" alt="">
    </Card>
    <Card titel="03. PiXLEarth">
        <img src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/03.-PiXLEarth-scaled.jpg" alt="">
    </Card>
    <Card titel="04. Bron, Broen, Bridge">
        <img src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/04-BRON-3-scaled.jpg" alt="">
    </Card>
</div>
</MainLayout>