---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayouts.astro";
import Button from "../components/Buttons.astro";
import Slider from "../components/Slider.astro";
import Dropdown from "../components/Dropdown.astro";
---

<MainLayout title="product.astro">
  <section class="grid">
    <Button variant="primary" state="" animation="">PRIMARY BUTTON</Button>
    <Button variant="secondary" state="" animation="">FILTER BUTTON</Button>
    <Button variant="secondary" state="buttonselected" animation="">FILTER BUTTON SELECTED</Button>
    <Button variant="displaybutton" state="" animation="regularfade">DISPLAY BUTTON</Button>

    <a class="hyperlink" href="">Dette er et hyperlink</a>
    <Slider />
    <Dropdown />
    <p class="bodytext-regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam rem iure, sit praesentium aut ipsam architecto cum. Placeat voluptatem dicta blanditiis, deserunt repellendus quis. Quibusdam reiciendis architecto amet nulla libero incidunt doloribus. Vitae, officiis. Libero tempora porro rem corrupti laudantium?</p>
  </section>
</MainLayout>

<style>
  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
</style>
