---
import "../styles/global.css";
import Buttons from "../components/Buttons.astro";
---

<h2>BYDELE</h2>
<div class="grid_4">
    <Buttons variant="secondary"> ALLE 
    <Buttons variant="secondary"> KBH N 
    <Buttons variant="secondary"> KBH V 
    <Buttons variant="secondary"> KBH H 
    <Buttons variant="secondary"> KBH Ø 
    <Buttons variant="secondary"> KBH S 
    <Buttons variant="secondary"> KBH NV
    <Buttons variant="secondary"> KBH SV 
</div>
   

 <style>

    
        .grid_4 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    
        
    </style>
    