---
import "../styles/global.css";
import Buttons from "../components/Buttons.astro";
---

<h2>BYDELE</h2>
<div class="grid_4">
    <Buttons variant="secondary"class="bydel"> ALLE <Buttons />
    <Buttons variant="secondary"> KBH N <Buttons />
    <Buttons variant="secondary"> KBH V <Buttons />
    <Buttons variant="secondary"> KBH H <Buttons />
    <Buttons variant="secondary"> KBH Ø <Buttons />
    <Buttons variant="secondary"> KBH S <Buttons />
    <Buttons variant="secondary"> KBH NV <Buttons />
    <Buttons variant="secondary"> KBH SV <Buttons />
</div>
   

    <style>
        
    
        .grid_4 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
        }
    
        
    </style>
    