---
const { data } = Astro.props;
---

<article>
  <a href={` /${data.slug}`}>
    <img src={data.image} alt="" />
    <h2>{data.displayname}</h2>
  </a>
</article>

<style>
  article {
    border: 1px solid var(--text-color);
    width: 47.5%;
    transition: 0.2s ease-in;
  }
  article:hover {
    box-shadow: 0px 0px 15px var(--text-color);
    transition: 0.2s ease-in;
  }
  .card_title {
    border-top: 1px solid var(--text-color);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00031c84;
  }
  @media (min-width: 900px) {
    article {
      width: 32%;
    }
  }
  a {
    text-decoration: none;
  }
</style>
