---
const {titel} = Astro.props;
---

<article>
   <slot />
    <p class="card_title">{titel}</p>
</article>
    
<style>
    article {
    border: 1px solid var(--text-color);  
    position: relative;
    overflow: hidden;
    width: 47.5%;
  }

.card_title{
    border-top: 1px solid var(--text-color);
    padding: 1rem;
    position: absolute;  
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#00031c84;
}
@media (min-width: 900px) {
    article{
        width: 32%;
    }
}
</style>