---
import "../styles/global.css";
import Slider from "../components/Slider.astro";
---

<div class="dropdown">
  <button class="dropbtn">Dropdown <img src="" alt="PIL" /></button>
  <div class="dropdown-content">
    <div>2km <Slider /></div>
    <div>5km <Slider /></div>
    <div>7km <Slider /></div>
  </div>
</div>

<style>
  /* Style The Dropdown Button */
  .dropbtn {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color-50);
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 0.5rem;
    cursor: pointer;
    min-width: 200px;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark-background-color);
    min-width: 200px;

    z-index: 1;

    border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
  }

  /* Links inside the dropdown */
  .dropdown-content div {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    color: var(--primary);
  }
</style>
