---
import "../styles/global.css";
const {footer} = Astro.props;
---
<footer class="footermobil">
    <nav>
        <article class="footer_mobile">
            <section class="footer_left">
                <a href="https://www.facebook.com/cphlightfest/"><img src="../../public/icons/facebook.svg" alt="facebook"></a>
                <a href="https://www.instagram.com/cphlightfest/"><img src="../../public/icons/instagram.svg" alt="instagram"></a>
                <a href="https://www.youtube.com/@cphlightfest5395"><img src="../../public/icons/youtube.svg" alt="youtube"></a>
            </section>
            <section class="footer_p1">
                <div></div>
                <div class="footer_middle">
                <hr> 
                <br>
                <p>@COPENHAGEN LIGHT FESTIVAL 2024</p>
                </div>
            </section>
                <section class="footer_p2">
                <p>Read our cookie polices</p>
                <p>info@copenhagenlightfestival.org | Tlf. +45 25 55 66 04 </p>
        </section>
            
        </article>

        <article class="footer_right">
            <section class="footer_links">
                <ul class="link_menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PROGRAM</a></li>
                    <li><a href="#">PARTNERS</a></li>
                    <li><a href="#">OM OS</a></li>
                    <li><a href="#">KONTAKT</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </section>
        </article>

</footer>

<footer class="footerdesktop">
    <nav>
    <article class="footer_icons">
        <img src="../../public/icons/facebook.svg" alt="facebook">
        <img src="../../public/icons/instagram.svg" alt="instagram">
        <img src="../../public/icons/youtube.svg" alt="youtube"> 
    </article>
    <article class="footermiddle">
        <p>@COPENHAGEN LIGHT FESTIVAL 2024</p>
    </article>
    <article class="footerright">
        <ul class="linkmenu">
          <li><a href="#">HOME</a></li>
          <li><a href="#">PROGRAM</a></li>
          <li><a href="#">PARTNERS</a></li>
          <li><a href="#">OM OS</a></li>
          <li><a href="#">KONTAKT</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
        <p>Read our cookie polices</p>
        <p>info@copenhagenlightfestival.org | Tlf. +45 25 55 66 04 </p>
    </article>
      </nav>
</footer>

    <style>
        .footerdesktop {
        display: none;
    }
footer {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; /* Farven på stregen */
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 45px; /* Tilføjer margin til at skubbe alt indhold ned */
}

/* Yderligere styling for resten af footer-indholdet her */
.footer_left,
.footer_right {
    display: flex;
    flex-direction: row; /* Ændret til vandret led */
    align-items: center; /* Justerer elementer lodret centralt */
}

.footer_left img {
    width: 50%;
    margin-top: 10px;
}

.footer_left {
    margin: 5px; 
}
 hr {
    width: 80%;
}

.footer_p2 {
    width: 50%;
}

.footer_p1 {
    margin-top: 18px;
    line-height: 1.5;
    width: 85%;
}

.link_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link_menu li {
    margin-bottom: 5px;
    margin-top: 10px;
}

.link_menu a {
    text-decoration: none; 
    color: var(--text-color);
    line-height: 2;
}

/* Desktop-styling */
@media screen and (min-width: 1200px) {
    footer {
    padding-left: 2rem;
    padding-right: 2rem;
}
    .footerdesktop {
        display: block;
    }
    .footermobil {
        display: none;
    }
        .footerdesktop {
    border-top: 1px solid white; /* Tilføjer en hvid streg øverst i footer */
    margin: -20px;
    margin-top: 20px;
        }

.footer_icons {
    width: 40px;
    margin-top: -60px;
    margin-left: 60px;
    gap: 5px;
    display: flex; /* Anvend flexbox */
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
}
.footermiddle {
    position: relative; /* Gør positionen relativ for at kunne placere pseudoelementet */
    margin-left: 300px;
    margin-top:4rem; /* Sæt afstand over artiklen til auto for at placere den nederst */
    margin-bottom: -50px; /* Justerer bundmarginen */
}

.footermiddle::before {
    content: ""; /* Tilføjer et tomt indhold til pseudoelementet */
    position: absolute; /* Gør positionen absolut */
    top: -5px; /* Placerer det lige over .footer_middle */
    left: 25%; /* Sætter startpositionen til venstre */
    width: 50%; /* Gør bredden 100% af .footer_middle */
    height: 0.5px; /* Sætter højden til 1px */
    background-color: white; /* Gør stregen hvid */
}

.footerright {
    display: flex;
    flex-direction: column; /* Stabler indholdet i kolonneformat */
    justify-content: flex-end; /* Placerer indholdet i bunden af artiklen */
    align-items: flex-end; /* Justerer indholdet til højre side */
}

.linkmenu {
    display: flex; /* Placerer linkene vandret */
    justify-content: space-between;
    list-style: none; /* Fjerner punkttegnene foran linkene */
    margin-top: -60px;
    margin-bottom: 10px;
    gap: 1rem;
    padding: 0;
}

.linkmenu li {
   
}

.linkmenu li a {
    color: white; /* Gør linkteksten hvid */
    text-decoration: none; /* Fjerner understregningen fra linkene */
}

.linkmenu li a:hover {
    color: white; /* Bevarer linktekstens hvide farve ved hover */
}
}
    </style>