---
import "../styles/global.css";
const { footer } = Astro.props;
---

<footer>
  <nav>
    <article class="footer_mobile">
      <section class="footer_left">
        <a href="https://www.facebook.com/cphlightfest/"><img src="../../public/icons/facebook.svg" alt="facebook" /></a>
        <a href="https://www.instagram.com/cphlightfest/"><img src="../../public/icons/instagram.svg" alt="instagram" /></a>
        <a href="https://www.youtube.com/@cphlightfest5395"><img src="../../public/icons/youtube.svg" alt="youtube" /></a>
      </section>
      <section class="footer_p1">
        <div class="footer_middle">
          <hr />
          <br />
          <p>@COPENHAGEN LIGHT FESTIVAL 2024</p>
        </div>
      </section>
      <section class="footer_p2">
        <p>Read our cookie polices</p>
        <p>info@copenhagenlightfestival.org | Tlf. +45 25 55 66 04</p>
      </section>
    </article>

    <article class="footer_right">
      <section class="footer_links">
        <ul class="link_menu">
          <li><a href="#">HOME</a></li>
          <li><a href="#">PROGRAM</a></li>
          <li><a href="#">PARTNERS</a></li>
          <li><a href="#">OM OS</a></li>
          <li><a href="#">KONTAKT</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </section>
    </article>
  </nav>
</footer>

<style>
  footer {
    position: relative;
  }

  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white; /* Farven på stregen */
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin-top: 45px; /* Tilføjer margin til at skubbe alt indhold ned */
  }

  /* Yderligere styling for resten af footer-indholdet her */
  .footer_left,
  .footer_right {
    display: flex;
    flex-direction: row; /* Ændret til vandret led */
    align-items: center; /* Justerer elementer lodret centralt */
  }

  .footer_left img {
    width: 50%;
    margin-top: 10px;
  }

  .footer_left {
    margin: 5px;
  }

  .footer_left hr {
    width: 10%;
  }

  .footer_p1 {
    margin-top: 20px;
    line-height: 2;
  }

  .footer_p1 {
    margin-top: 20px;
    line-height: 2;
  }
  .link_menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .link_menu li {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .link_menu a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 2;
  }

  /* Desktop-styling */
  @media screen and (min-width: 750px) {
    footer {
      border-top: 1px solid white; /* Tilføjer en hvid streg øverst i footer */
      margin-top: 20px; /* Fjern den negative margin */
    }
    nav {
      display: flex;
    }

    .footer_mobile {
      display: flex;
      flex-direction: column; /* Change to column layout */
      justify-content: center; /* Center items vertically */
      align-items: center; /* Center items horizontally */
    }

    .footer_p1 {
      text-align: center; /* Center the text */
    }
    .footer_left {
      width: auto;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center; /* Centrerer indholdet lodret */
    }

    .footer_middle {
      width: auto;
      text-align: center; /* Centrer teksten */
    }

    .footer_right {
      display: flex;
      align-items: flex-start; /* Justerer indholdet til toppen */
      margin-left: auto; /* Flytter footer_links helt til højre */
    }

    .link_menu {
      display: flex;
      flex-direction: row; /* Stabler linkene vandret */
      list-style: none; /* Fjerner punkttegnene foran linkene */
      gap: 10px;
    }

    .link_menu li a {
      color: white; /* Gør linkteksten hvid */
      text-decoration: none; /* Fjerner understregningen fra linkene */
    }

    .link_menu li a:hover {
      color: white; /* Bevarer linktekstens hvide farve ved hover */
    }
  }
</style>
