---
import "../styles/global.css";

---

    <article>
        <div id="container">
            <div id="kort"></div>
            <div id="dots">
              <div id="dot1" class="dotCyan"></div>
              <div id="dot2" class="dotCyan"></div>
              <div id="dot3" class="dotCyan"></div>
              <div id="dot4" class="dotCyan"></div>
              <div id="dot5" class="dotPink"></div>
              <div id="dot6" class="dotPink"></div>
              <div id="dot7" class="dotPink"></div>
              <div id="dot8" class="dotPink"></div>
            </div>
          </div>
    </article>

    <article class="box">
        <div class="pop_up">
            <img class="ikon" src="/icons/close.svg" alt="">
            <h1>No. 52</h1>
            <img src="collage/pop_up.svg" alt="pop_up"> 
            <bodtext-regular>Her kan du læse lidt om kunstværket</bodtext-regular>
            <p>Læs mere her</p>
        </div>
    </article>
    
    <style>
    
    #container{
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  
  overflow: hidden;
}

#kort{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(kort.png);
  background-size: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
}

#dots{
  position: absolute;
  width: 100%;
  height: 100%;
}

.dotCyan {
    display: relative;
    width: 10px;
    height: 10px;
    background-color: #00BBB6;
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}

.dotCyan:hover, .dotPink:hover{
    background-color: #C44C97; 
    cursor: pointer;
}

.dotPink {
    display: relative;
    width: 10px;
    height: 10px;
    background-color: #F13C52;
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}

#dot1{
    position: relative;
    top: 35%;
    left: 30%;
}
#dot2{
    position: relative;
    top: 40%;
    left: 45%;
}
#dot3{
    position: relative;
    top: 60%;
    left: 34%;
}
#dot4{
    position: relative;
    top: 50%;
    left: 43%;
}
#dot5{
    position: relative;
    top: 25%;
    left: 32%;
}
#dot6{
    position: relative;
    top: 45%;
    left: 40%;
}
#dot7{
    position: relative;
    top: 33%;
    left: 38%;
}

#dot8{
    position: relative;
    top: 20%;
    left: 50%;
}

.box {
        display: block;
        background-color: var(--background-color-50);
        width: 300px;
        height: 350px;
        position: absolute;
        top: 433%; /* Justér positionen efter behov */
        left: 75%; /* Justér positionen efter behov */
        transform: translate(-50%, -50%); /* Centrer elementet */
    }

    .pop_up {
        position: relative;
        padding: 40px;
    }

    .pop_up h1, p {
    float: right;
}

.pop_up img {
    width: 100%;
}

.pop_up p {
    color: #0a8fc1;;
    margin-top: 30px;
}

.ikon {
    position: absolute;
    top: 15px;
    right: -120px;
    width: 20px;
    height: 25px;
    background-image: url('path/to/your/close-icon.svg'); /* Erstat med din egen close-icon */
    background-size: cover;
    cursor: pointer;
}
    </style>

    <script>
        window.addEventListener("load", clickDots);

    function clickDots() {
    console.log("clickDots");
        const dots = document.querySelectorAll(".dotCyan, .dotPink");
        dots.forEach(dot => {
            dot.addEventListener("click", showCard);
        });
    }

function showCard() {
    console.log("showCard");}

    const ikon = document.querySelector(".ikon");
    const pop_up = document.querySelector(".pop_up");
    ikon.addEventListener("mousedown", clickIkon);

    function clickIkon() {
        console.log("clickIkon");
    }
    
    </script>

    