---
import "../styles/global.css";
import NavigationsDropdown from "../components/NavigationsDropdown.astro"
import Searchbar from "../components/Searchbar.astro"
---

<header>
    <nav class="navbar">
        <a href="/"><img class="nav-branding" src="/logo.svg" alt="logo"></a>
        <ul class="nav-menu">
            <li class="nav-item dropdown">
                <NavigationsDropdown 
                header = "Program" 
                underknap1 = "Værker 2024" 
                underknap2 = "Events 2024" 
                underknap3 = "Kort 2024" 
                underknap4 = "Tidligere programmer" />
            </li>
            <li class="nav-item dropdown">
                <NavigationsDropdown 
                header = "Besøg os" 
                underknap1 = "Guidede ture 2024" 
                underknap2 = "Hotel & Restauranter" 
                underknap3 = "Udforsk København" 
                underknap4 = "FAQ" />
            </li>
            <li class="nav-item dropdown">
                <NavigationsDropdown 
                header = "Om os" 
                underknap1 = "Hvem er vi?" 
                underknap2 = "Partnere og sponsorer" 
                underknap3 = "Vision" 
                underknap4 = "Foto konkurrence 2024" 
                underknap5 = "Permanente installationer" />
            </li>
            <li class="nav-item dropdown">
                <NavigationsDropdown 
                header = "Kontakt" 
                underknap1 = "Kontakt"
                underknap2 = "Presse & medier" 
                underknap3 = "For kunstnere" 
                underknap4 = "Bliv vært for et kunstværk" 
                underknap5 = "Personoplysninger" />
            </li>
            <li class="nav-item sprog">DA/EN</li>
            <li class="nav-item search"> <Searchbar /> </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>

<style>
    /*navigationsbar*/
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
/*menuknapperne i navigationsbar*/
.nav-menu {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
/*logo*/
.nav-branding {
  width: 13ch;
  margin-left: 5px;
}
/*hamburgermenu*/
.hamburger {
  display: none;
  cursor: pointer;
  padding: 2ch;
}
.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f4f4f4;
  border-radius: 2px;
}

/*-------------mobil---------------*/
@media (max-width: 900px) {
  /*-----------BURGERMENU SETTINGS----------*/
  .hamburger {
    display: block;
  }
  /*de tre streger bliver til et kryds*/
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  /*menu settings, standard gør den ikke synlig*/
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 10ch;
    gap: 0;
    flex-direction: column;
    background-image: url(/backgroundimg/colouredwave.webp);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
  }
  /*kommer frem, når den er active*/
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 35px 16px;
    border-bottom: var(--red) 1px solid;
  }
  .search{
    order:2;
  }
  .sprog{
    order: 1;
  }
  .dropdown{
    order: 3;
  }

}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #f4f4f4;
  transition: 0.5s;
}
</style>

