---
import "../styles/global.css";

---

<article>
    <h2>Mest Besøgte</h2>
    <div class="carousel-container">
        <img id="arrow-left" class="arrow" src="arrow_left.svg" alt="">
        <img class="carousel-item" src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/03.-PiXLEarth-scaled.jpg" alt="">
        <img class="carousel-item" src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/02.-GAIA-scaled.jpg" alt="">
        <img class="carousel-item" src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/01.-Du-som-er-i-Himlene-scaled.jpg" alt="">
        <img class="carousel-item hidden" src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/04-BRON-3-scaled.jpg" alt="">
        <img class="carousel-item hidden" src="https://copenhagenlightfestival.org/wp-content/uploads/2024/02/07.-Vivid-Verve-1-1-scaled.jpg" alt="">
        <img id="arrow-right" class="arrow" src="arrow_right.svg" alt="">
    </div>
</article>

<style>
    .hidden{
        display: none;
    }
    .arrow{
        scale: 0.4;
    }

    .arrow:hover{
        cursor: pointer;
    }

    img{
        max-width: 20%;
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const leftArrow = document.querySelector('#arrow-left');
    const rightArrow = document.querySelector('#arrow-right');
    const carouselItems = document.querySelectorAll('.carousel-item');

    let currentIndex = 0;

    rightArrow.addEventListener('click', function() {
        if (currentIndex < carouselItems.length - 3) {
            carouselItems[currentIndex].classList.add('hidden');
            currentIndex++;
            carouselItems[currentIndex + 2].classList.remove('hidden');
        }
    });

    leftArrow.addEventListener('click', function() {
        if (currentIndex > 0) {
            carouselItems[currentIndex + 2].classList.add('hidden');
            currentIndex--;
            carouselItems[currentIndex].classList.remove('hidden');
        }
    });
});
</script>