---
import "../styles/global.css";
import Menu from "../components/Nav.astro"
import Navigation from "../components/Navigation.astro"
import Background from "../layouts/Backgroundindex.astro"
const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/feh3hfd.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

    <!-- Title -->
    <title>{title}</title>
  </head>
  <body>  <Navigation />

    <!-- <h2>MainLayout</h2> -->
  
    <!-- <Menu />  -->
    <main>
      <h1>{title}</h1>
      <slot />
    </main> 
    <script src="../scripts/header.js"> </script>
  </body>
 
</html>
