---
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import "../styles/style.css";

import Button from "../components/Button.astro";

const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/feh3hfd.css" />
    <title>{title}</title>
  </head>
  <body>
    <h1>astro-first-try</h1>
    <header><Nav /></header>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>

  <style>
    .gray {
      background-color: var(--gray);
    }
  </style>
</html>
