---
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/feh3hfd.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

    <!-- Title -->
    <title>{title}</title>
  </head>
  <body>
    <h2>MainLayout</h2>
    <header>
      <!-- hurtig nav bar for at navigere mellem siderne -->
      <nav>
        <a href="/">HOME</a>
        <a href="/map">MAP</a>
        <a href="/multiview">MULTIVIEW</a>
        <a href="/product">PRODUCT</a>
      </nav>
    </header>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>

  <style></style>
</html>
